## Practice List in Python

In [2]:
# Lists are surrounded by square brackets
# A list can contain any Python object, even another list

In [3]:
# Example :
print([1, 2, 4])

[1, 2, 4]

In [4]:
print([1, 4, 'blue', 'yellow'])

[1, 4, 'blue', 'yellow']

In [5]:
print([1, [2, 'yellow'], 4, 'green'])

[1, [2, 'yellow'], 4, 'green']

In [8]:
friends = ['Anna', 'David', 'Dainy', 'Bob']
for friend in friends:
    print('Happy New Year: ' + friend)
print("Done")

Happy New Year: Anna
Happy New Year: David
Happy New Year: Dainy
Happy New Year: Bob
Done

### Lists are mutable, we can change an element of a list using index

In [13]:
fruits = ['Orange', 'Banana', 'Dragon Fruit', 'Mango']
fruits[1] = 'Apple'
print(fruits)
count = len(fruits)
print('There are {} fruits.'.format(count))

['Orange', 'Apple', 'Dragon Fruit', 'Mango']
There are 4 fruits.

### Using for loop in range() function

In [17]:
print(len(fruits))
print(range(len(fruits)))
for i in range(len(fruits)):
    fruit = fruits[i]
    print(fruit)

4
range(0, 4)
Orange
Apple
Dragon Fruit
Mango

## List methods

In [18]:
# CONCATENATE A LIST :
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [23]:
# SLIDE A LIST USING ':' (remember : up to but not including)
my_fruits = fruits[1:3]
print(my_fruits)
my_fruits = fruits[:]
print(my_fruits)
my_fruits = fruits[:2]
print(my_fruits)

['Apple', 'Dragon Fruit']
['Orange', 'Apple', 'Dragon Fruit', 'Mango']
['Orange', 'Apple']

In [26]:
# APPEND() FUNCTION TO ADD ELEMENT TO THE LIST:
my_friends = list()
my_friends.append('Lana')
print(my_friends)

['Lana']

In [32]:
# IS SOMETHING IN THE LIST?
my_things = [1, 2, 5, 'dolphin', 0.3]
0.3 in my_things # true
'fish' in my_things # false
'dog' not in my_things # true

True

In [36]:
fr# SORTING THINGS IN A LIST :
my_nums = [7, 1, 9, 0.3, 5, 2]
my_nums.sort()
print(my_nums)

# DECREASING 
my_nums.sort(reverse = True)
print(my_nums)

[0.3, 1, 2, 5, 7, 9]
[9, 7, 5, 2, 1, 0.3]

In [37]:
# MAX/ MIN/ SUM OF ALL ELEMENTS IN A LIST :
max_element = max(my_nums)
min_element = min(my_nums)
sum_result = sum(my_nums)
print('MAX : {} MIN : {} SUM : {}'.format(max_element, min_element, sum_result))

MAX : 9 MIN : 0.3 SUM : 24.3

## List working with String

In [44]:
# SPLIT() FUNCTION :
animal_str = "dogs cats dragons monkeys fishes donkies"
animal_list = animal_str.split()
print(animal_list)

# Use specified delimeter to split a string :
fruit_str = "mango;dragon fruit;apple;banana;ngon ngon"
fruit_list = fruit_str.split(';')
print(fruit_list)

#Practice list with a txt file :
fhand = open("data.txt")
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From ') :
        continue
    words = line.split()
    email = words[1]
    day = words[2]
    month = words[3]
    date = words[4]
    time = words[5]
    year = words[6]
print("Email {} sent a message in {} {} {} {} {} ".format(email, day, month, date, time, year))

['dogs', 'cats', 'dragons', 'monkeys', 'fishes', 'donkies']
['mango', 'dragon fruit', 'apple', 'banana', 'ngon ngon']
Email dain55788@gmail.com sent a message in Thurs Feb 9 05:25:15 2024

## Clone a list:

In [1]:
A = ["JujutsuKaisen", 1, 2]
B = A[:]
B

['JujutsuKaisen', 1, 2]

## A and B reference the same list:

In [3]:
A = ["JujutsuKaisen", 1, 2]
B = A
A[0] = "Demon Slayer"
B

['Demon Slayer', 1, 2]