## 1. Load a Pandas dataframe to a SQLite3 database object using to_sql()

In [ ]:
# df.to_sql(table_name, sql_connection, if_exists = 'replace', index = False)

## 2. Pandas function read_sql() to query a database table.

In [2]:
# df = pandas.read_sql(query_statement, sql_connection)

In [5]:
import pandas as pd
import sqlite3

In [7]:
conn = sqlite3.connect('STAFF.db')
table_name = 'INSTRUCTOR'
attribute_list = ['ID', 'FNAME', 'LNAME', 'CITY', 'CCODE']
file_path = 'INSTRUCTOR.csv'
df = pd.read_csv(file_path, names = attribute_list)

# to_sql() : load the csv data directly into the databases.
df.to_sql(table_name, conn, if_exists = 'replace', index =False)
print('Table is ready')

# Run basic queries on data:
query_statement = f"SELECT * FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

# Append new data into current databases:
data_dict = {'ID' : [100],
            'FNAME' : ['John'],
            'LNAME' : ['Doe'],
            'CITY' : ['Paris'],
            'CCODE' : ['FR']}
data_append = pd.DataFrame(data_dict)

data_append.to_sql(table_name, conn, if_exists = 'append', index =False)
print('Data appended successfully')
print("Database after appending: ")
query_statement = f"SELECT * FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_output)
# close the connection to the databases:
conn.close()

Table is ready
SELECT * FROM INSTRUCTOR
    ID    FNAME      LNAME      CITY CCODE
0    1      Rav      Ahuja   TORONTO    CA
1    2     Raul      Chong   Markham    CA
2    3     Hima  Vasudevan   Chicago    US
3    4     John     Thomas  Illinois    US
4    5    Alice      James  Illinois    US
5    6    Steve      Wells  Illinois    US
6    7  Santosh      Kumar  Illinois    US
7    8    Ahmed    Hussain  Illinois    US
8    9    Nancy      Allen  Illinois    US
9   10     Mary     Thomas  Illinois    US
10  11  Bharath      Gupta  Illinois    US
11  12   Andrea      Jones  Illinois    US
12  13      Ann      Jacob  Illinois    US
13  14     Amit      Kumar  NewDelhi    IN
Data appended successfully
Database after appending:
     ID    FNAME      LNAME      CITY CCODE
0     1      Rav      Ahuja   TORONTO    CA
1     2     Raul      Chong   Markham    CA
2     3     Hima  Vasudevan   Chicago    US
3     4     John     Thomas  Illinois    US
4     5    Alice      James  Illinois    US
5     6    Steve      Wells  Illinois    US
6     7  Santosh      Kumar  Illinois    US
7     8    Ahmed    Hussain  Illinois    US
8     9    Nancy      Allen  Illinois    US
9    10     Mary     Thomas  Illinois    US
10   11  Bharath      Gupta  Illinois    US
11   12   Andrea      Jones  Illinois    US
12   13      Ann      Jacob  Illinois    US
13   14     Amit      Kumar  NewDelhi    IN
14  100     John        Doe     Paris    FR